[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GoodFitSBM"]
	path = GoodFitSBM
	url = https://github.com/roy-sr-007/goodfitsbm
[submodule "TrtCombo.FactorialExp.SR"]
	path = TrtCombo.FactorialExp.SR
	url = https://github.com/roy-sr-007/trtcombo.factorialexp.sr
[submodule "YatesAlgo.FactorialExp.SR"]
	path = YatesAlgo.FactorialExp.SR
	url = https://github.com/cran/YatesAlgo.FactorialExp.SR
[submodule "bayesestdft"]
	path = bayesestdft
	url = https://github.com/roy-sr-007/bayesestdft
